@charset "utf-8";

.bodywrap {
    width: 1000px;
}
.booth-detail-form {
	margin-top: 60px;
}
.booth-title a {
	font-size: 32px;
}
.booth-type {
	font-size: 17px;
	color: #757575;
}
.booth-menu {
	width: 1000px;
	height: 300px;
	margin-top: 20px;
}
.booth-img {
	float: left;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.booth-img img {
	width: 250px;
	height: 250px;
	object-fit: contain;
}
.booth-item {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 600px;
	height: 300px;
	margin-left: 50px;
}
.booth-item ul {
	padding: 20px;
	border: 2px dotted #757575;
	border-radius: 15px;
	height: 215px;
}
.booth-item li {
	display: inline-block;
	width: 220px;
	margin: 10px 27px;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
}
.booth-item-menu {
	width: 556px !important;
	text-align: center !important;
	margin: 0 !important;
}
.booth-item span {
	float: right;
}
.boothProduct {
	margin-top: 10px;
}
.booth-info-form {
    width: 1000px;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 100px;
}
.tabmenu {
    float: left;
    margin:0;
	list-style:none;
	padding: 0 6%;
	border-bottom: 1px solid #e0e0e0;
	zoom: 1;
	width: 860px;
}
.tabmenu:before, .tabmenu:after {
	content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.tabmenu:after {
	clear: both;
}
#tab {
    float: left;
    width: 150px;
    line-height: 32px;
}
#tab div {
    line-height: 20px !important;
}
.tab-name {
	font-size: 18px;
    background: #f6f6f6;
	font-weight: bold;
	text-align: center;
	display: block;
	border: 1px solid #e0e0e0;
	color: #909090;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.75);
	padding: 6px 18px; margin: 0 5px -1px 0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration:none;
}
.tabmenu .active .tab-name {
	background: #fff;
	border-color: #d4d4d4;
	border-bottom: 1px solid #fff;
	color: #dd390d;
	margin-top: -4px;
	padding-top: 10px;
}
.tabmenu li div {
    position: absolute;
    left: 0px;
    height: 0px;
    overflow: hidden;
    margin-left: 460px;
}
.tabmenu li.active div {
	height: auto;
    width: 1000px;
    z-index: 1;
}
.booth-info {
	padding: 20px;
}
.booth-info ul {
    width: 1000px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.booth-info li {
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}
.booth-intro {
	font-size: 18px !important;
	font-weight: 600;
	margin: 20px 0px;
}
.report {
	font-size: 15px;
	border: none;
	background-color: #fff;
	margin: 10px;
}
.report i, .report {
	color: #757575;
}
.review-form {
	height: 200px;
}
.review-ul {
	width: 1000px;
	margin-top: 20px;
}
.review-li {
	display: inline-block;
	width: 420px;
	margin: 0px 10px 20px;
	border: 1px solid #ddd;
	border-radius: 15px;
	padding: 20px;
}
.star-point {
	margin: 0 !important;
}
.star-point i {
	color: #f0d828 !important;
}
.id-date {
	color: #757575;
	font-size: 14px;
	line-height: 25px;
	margin: 0 !important;
}
.review-li ul {
	margin-top: 10px;
}
.review-li ul li{
    border-radius: 7px;
	background-color: #e7e7e7;
	margin-right: 7px;
	padding: 0px 7px;
	display: inline-block;
}
.review-li ul li i {
	color: #876ed5;
	font-weight: 540 !important;
}
.review-form .write-review {
	width: 153px;
	margin-top: 30px;
	font-size: 18px;
	background: linear-gradient(to right top, #876ed5, #0b123f);
    color: transparent;
    -webkit-background-clip: text;
	border: 1px solid #876ed5;
	border-radius: 20px;
	padding: 5px 16px;
}
.review-form .write-review i {
	background: linear-gradient(to right top, #876ed5, #0b123f);
    color: transparent;
    -webkit-background-clip: text;
}
.review-form .write-review:hover {
	opacity: 0.7;
}
.review-more {
	font-weight: bold;
	width: 103px;
	float: right;
	margin-right: 25px;
}
.review-more:hover {
	border-bottom: 1px solid #000;
}