@charset "utf-8";

.bodywrap {
	margin: 120px 0px 240px;
}
.cs-ask-form {
	width: 600px;
}
.cs-ask-form h1 {
	font-weight: 600;
}
.ask-form {
	width: 500px;
	margin-top: 30px;
	text-align: center;
}
.ask-title {
	height: 35px;
	width: 400px;
	padding: 0px 10px;
	box-sizing: border-box;
	font-size: 17px;
}
.ask-title:focus, #ask-type:focus, .ask-content:focus {
	outline: none;
	border: 1px solid #876ed5;
}
#ask-type {
	height: 35px;
	width: 90px;
	margin-left: 3px;
	vertical-align: top;
}
.ask-content {
	padding: 10px;
	width: 500px;
	height: 200px;
	margin-top: 15px;
	box-sizing: border-box;
	font-size: 17px;
}
.ask-submit, .back {
	color: #757575;
	border: 1px solid #757575;
	background-color: #fff;
	border-radius: 20px;
	font-size: 15px;
	display: inline-block;
}
.ask-submit {
	width: 100px;
	height: 40px;
	margin: 15px 0px 20px;
}
.back {
	display: inline-block;
	width: 98px;
	height: 38px;
	margin: 15px 5px 20px 0px;
	line-height: 38px;
}
.ask-submit:hover, .back:hover {
	border-color: #876ed5;
	color: #876ed5;
	font-weight: 600;
}