@charset "utf-8";

.bodywrap {
	margin: 100px 0px 210px;
}
.question-form {
	width: 800px;
}
.question-form h1 {
	font-weight: 600;
}
.question-list {
	padding: 20px;
}
.question-list hr {
	margin: 20px 0px;
}
.question h2 {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 20px;
}
.question p {
	display: none;
	margin-left: 40px;
	font-size: 17px;
	line-height: 30px;
}