@charset "utf-8";

.bodywrap {
    width: 1400px;
    overflow: auto;
    margin-bottom: 200px;
}
.search-form {
	width: 1000px;
	margin-top: 50px;
}
.search-head h1, .search-head h2 {
	display: inline-block;
}
.search-head h2 {
	font-weight: 500;
}
.search-head h1 {
	margin: 0px 10px;
	color: #876ed5;
}
.search-form hr {
	margin: 20px 0px;
	color: #ddd;
}
.search-form h3 {
	font-size: 21px;
}
.search-form div img {
	float: left;
	width: 230px;
	height: 150px;
	border-radius: 20px;
	object-fit: cover;
}
.search-fstv-info, .search-booth-info {
	float: right;
	width: 740px;
}
.search-form li {
	margin: 30px 0px;
	height: 150px;
	position: relative;
	overflow: hidden;
}
.search-form li:hover {
	opacity: 0.8;
}
.search-form li i {
	position: absolute;
	top: 10px;
	left: 195px;
	color: pink;
	font-size: 25px;
}
.search-form li i:hover{
   	font-weight: bold;
}
.search-fstv-info .fstv-title {
	margin: 5px 0px;
	font-size: 25px;
	font-weight: bold;
}
.search-fstv-list .fstv-loc {
	color: #757575;
}
.search-fstv-list .fstv-date {
	background-color: #876ed5;
	color: #fff;
	border-radius: 50px;
	padding-left: 15px;
	padding-right: 15px;
	width: 185px;
	margin: 5px 0px;
	text-align: center;
}
.search-fstv-list {
	margin: 50px 0px 50px;
}
.search-booth-list {
	margin-top: 40px;
}
.search-booth-info .booth-title {
	margin: 5px 0px 10px;
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
}
.search-booth-info .booth-type {
	color: #757575;
	margin: 5px 0px;
}
.search-fstv-info p {
	margin-top: 15px;
}
.search-list li {
	position: relative;
}
.fstv-end-text {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #876ed5;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}
.fstv-will-text {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #bffd9f;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}