@charset "utf-8";

.bodywrap {
	margin-bottom: 100px !important;
}
.booth-head h1 {
	display: inline-block;
}
.booth-head input {
	border: none;
	background-color: #fff;
}
.booth-head div {
	margin-top: 20px;
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.booth-head input, .booth-head i {
    color: #757575;
	font-size: 20px;
}
.booth-head input:hover, .booth-head input:hover + i {
	color: #876ed5;
}
.input-form {
	width: 714px;
}
.booth-add-form, .item-add-form {
	display: inline-block;
	float: left;
}
.booth-add-form {
	margin-right: 50px !important;
}
.item-add-form {
	height: auto;
	margin-bottom: 100px;
}
.item div, .booth-add-form div {
	height: 40px;
	margin: 20px 0px;
	width: 300px;
	border-radius: 15px;
	border: 1px solid #757575;
	padding: 0px 15px;
}
.input-form div input, select {
	width: 255px;
	height: 40px;
	background-color: #fff;
	padding: 0px 10px;
	border: none;
	font-size: 15px;
}
.input-form div select {
	width: 278px;
}
#booth-img {
	width: 222px !important;
	color: #757575;
	vertical-align: middle;
	padding-top: 10px;
	box-sizing: border-box;
}
.insert-img {
	font-size: 15px;
	color: #757575;
}
input[type=file]::file-selector-button {
	display: none;
}
.insert-img:hover {
	font-weight: 600;
	color: #876ed5;
}
.input-form div input:focus, select:focus, textarea:focus {
	outline: none;
	border-color: #876ed5;
}
.input-form div i {
	font-size: 18px;
	color: #757575;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}
.input-form div #file-upload-button {
	color: #757575;
	background-color: #fff;
	border: none;
}
.input-form div button:hover {
	color: #876ed5;
	font-weight: 600;
}
.booth-add-form div:focus-within , .item div:focus-within {
	border-color: #876ed5;
}
.booth-add-form div:focus-within i, .item div:focus-within i{
    color: #876ed5;
}
.booth-add-form div input:focus, .item div input:focus {
	outline: none;
}
textarea {
	width: 250px;
	height: 70px;
	border: none;
	font-size: 15px;
	padding: 0px 10px;
}
.text-area {
	padding: 15px !important;
	height: 70px !important;
}
.text-area i {
	vertical-align: top;
}
.item-form {
	height: auto;
}
.item-form hr {
    border: none;
    border-top: 1px dotted #ccc;
}
#item-add, #item-remove {
	border: 2px solid #757575;
	padding: 10px;
	border-radius: 50%;
	font-size: 20px;
	text-align: center;
	color: #757575;
	margin: 0px 3px 20px;
}
#item-add:hover, #item-remove:hover {
	border-color: #876ed5;
	color: #876ed5;
}
.side-navi li:nth-child(5) a {
	color: #000;
	font-weight: 500;
}
.side-navi li a .fa-store {
	color: #8080c0;
}