@charset "utf-8";

.bodywrap {
	height: 720px;
}
.edit-form {
	width: 332px;
	height: 480px;
	margin-top: 30px;
	text-align: center;
}
.input-form div {
	height: 40px;
	margin: 20px 0px;
	border: 1px solid #757575;
	border-radius: 15px;
	padding: 0px 15px;
	width: 300px;
	text-align: left;
}
.input-form div i {
	color: #757575;
}
.input-form div input {
	width: 250px;
	height: 40px;
	border: none;
	background-color: #fff;
	padding: 0px 10px;
	font-size: 15px;
	text-align: left;
}
#email {
	width: 170px;
	height: 40px;
	border: none;
	background-color: #fff;
	padding: 0px 10px;
	font-size: 15px;
}
#tel {
	width: 150px;
}
.input-form div input:focus {
	outline: none;
}
.input-form div:focus-within {
	border-color: #876ed5;
}
.input-form div:focus-within i {
    color: #876ed5;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}
.input-form div button {
	float: right;
	border: none;
	color: #757575;
	background-color: #fff;
	line-height: 40px;
}
.input-form div button:hover {
	color: #876ed5;
	font-weight: bold;
}
.seller-number {
	/* display: none; 세션 적용시 변경 필요 */
}
.edit {
	width: 100px;
	height: 40px;
	border: 1px solid #757575;
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
	margin-top: 15px;
	font-size: 15px;
	color: #757575;
}
.edit:hover {
	border-color: #876ed5;
	color: #876ed5;
	font-weight: bold;
}
#dynamicImage1 {
	width: 25px;
	height: 25px;
	float: right;
	vertical-align: middle;
}
#dynamicImage2 {
	width: 25px;
	float: right;
	height: 25px;
	vertical-align: middle;
}
.side-navi li:nth-child(1) a {
	color: #000;
	font-weight: 500;
}
.side-navi li a .fa-user {
	color: #000040;
}