@charset "utf-8";

.booth-head h1 {
	display: inline-block;
}
.booth-head a {
	display: inline-block;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}
.booth-head a, .booth-head i {
	color: #757575;
	font-size: 20px;
}
.booth-head a:hover, .booth-head a:hover i {
	color: #876ed5;
}
.booth-form {
	width: 800px;
}
.booth-form ul hr {
	margin: 15px 0px;
}
.booth-form ul li {
	height: 120px;
}
.booth-form ul li img {
	width: 140px;
	height: 120px;
	border-radius: 15px;
}
.booth-form ul li .booth {
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
}
.booth-form .booth-type {
	color: #757575;
	line-height: 30px;
}
.booth-form h4, .booth-form h2 {
	font-weight: 500;
}
.booth button {
	border: 1px solid #757575;
	border-radius: 15px;
	font-size: 15px;
	background-color: #fff;
	padding: 3px 7px;
	margin-top: 7px;
	color: #757575;
}
.booth button:hover {
	border-color: #876ed5;
	color: #876ed5;
}
.booth button:hover i {
    color: #876ed5;
}
.booth a:hover {
	color: #757575;
}