@charset "utf-8";

.ask-form {
	width: 600px;
	margin-top: 30px;
}
.ask-detail h2 {
	display: inline-block;
	font-weight: 500;
}
.ask-info {
	float: right;
	font-size: 15px;
	color: #757575;
}
.ask-content {
	height: 200px;
	margin-top: 20px;
}
.comment-form {
	margin-top: 20px;
}
.icon-form {
	font-size: 30px;
	float: left;
	width: 80px;
	height: 100px;
	display: inline-block;
	margin: 0px 10px;
}
.icon-form span {
	transform: rotateY(180deg);
}
.admin-comment {
	width: 490px;
	height: 120px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}
.side-navi li:nth-child(4) a {
	color: #000;
	font-weight: 500;
}
.side-navi li a .fa-pen-to-square {
	color: #004e9b;
}
.back:hover {
color: #757575;
}
.back {
	cursor: pointer; 
}