@charset "utf-8";

.bodywrap {
	margin-bottom: 100px;
}
.review-list {
	margin-top: 20px;
}
.review-form {
	height: 100px;
	width: 500px;
	border: 1px solid #ddd;
	padding: 25px;
	margin-bottom: 30px;
	border-radius: 20px;
}
#review-icon {
	font-size: 40px;
	color: #000;
	float: left;
	width: 55px;
}
.review {
	float: left;
}
.star-point i {
	color: #f0d828;
}
.id-date {
	color: #757575;
	font-size: 14px;
	line-height: 25px;
}
.review h3 {
	display: inline-block;
	font-weight: 600;
}
.review ul {
	margin-top: 5px;
}
.review ul li {
	display: inline-block;
    border-radius: 7px;
	background-color: #e7e7e7;
	margin-right: 7px;
	padding: 0px 7px;
}
.review ul li i {
	color: #876ed5;
	font-weight: 540 !important;
}
.side-navi li:nth-child(3) a {
	color: #000;
	font-weight: 500;
}
.side-navi li a .fa-rectangle-list {
	color: #f0d828;
}
#no-review {
    text-align: center;
    color: #888;
    font-size: 2em;
    margin-top: 50px;
}
.more {
	    font-size: 20px;
	text-align: center;
	 margin: 0 auto;  
    width: 100px;
    display: block;  
    margin-top: 10px;
     cursor: pointer; 
}

.more:hover {
	color: #757575;
}