@charset "utf-8";

.bodywrap {
	height: 720px;
}
.ask-list table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 760px;
}
.ask-list th {
  padding: 10px 8px;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
}
.ask-list td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.ask-title:hover {
	color: #757575;
}
.ask-title {
	cursor: pointer;
}
.side-navi li:nth-child(4) a {
	color: #000;
	font-weight: 500;
}
.side-navi li a .fa-pen-to-square {
	color: #004e9b;
}
#no_ask {
    text-align: center;
    color: #888;
    font-size: 2em;
    margin-top: 50px;
}