@charset "utf-8";

.bodywrap {
	width: 1200px;
	margin: 110px auto 265px;
}
.report-form {
	width: 600px;
}
.report-form .back {
	text-align: right;
}
.report-booth-fstv button {
	background-color: #fff;
	border: none;
}
.report-booth-fstv .booth-title {
	font-size: 20px;
	font-weight: bold;
	color: red;
}
.report-booth-fstv span button {
	font-size: 16px;
}
.report-booth-fstv .booth-title:hover {
	color: #ff6868;
}
.report-booth-fstv span button:hover {
	color: #757575;
}
.report-detail {
	margin-top: 10px;
}
.report-info {
	font-size: 15px;
	color: #757575;
	text-align: right;
}
.report-content {
	width: 600px;
	height: 200px;
	margin-top: 20px;
}
.btn {
	text-align: center;
	margin-top: 40px;
}
.btn button {
	padding: 5px 10px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 6px;
	font-size: 17px;
	margin: 0px 6px 10px;
}
.btn button:hover {
	background-color: #ddd;
}