@charset "utf-8";

.bodywrap {
	margin: 170px 0px 360px;
	text-align: center;
}
.bodywrap h3 {
	margin-bottom: 50px;
}
.signup-form {
	width: 360px;
	border: 1px solid #000;
	border-radius: 15px;
	padding: 30px 30px;
}
.input-form {
	text-align: center;
}
.input-form div {
	height: 35px;
	margin: 20px 0px;
}
.input-form div label {
	font-weight: bold;
	line-height: 35px;
	float: left;
	text-align: center;
	width: 120px;
}
.input-form div input {
	width: 150px;
	height: 35px;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 15px;
	font-weight: bold;
	float: left;
	padding: 0px 10px;
	text-align: center;
}
.input-form div button {
	width: 62px;
	height: 35px;
	float: right;
	border-radius: 15px;
	border: 1px solid #808080;
	color: #808080;
	background-color: #fff;
	font-weight: 600;
}
.input-form div button:hover {
	background-color: #ddd;
}
.seller-number {
	display: none;
}
#seller-check {
	margin-bottom: 10px;
}
.signup {
	width: 100px;
	height: 40px;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 15px;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	margin: 15px 0px 20px;
}
.signup:hover {
	background-color: #ddd;
}