@charset "utf-8";

.bodywrap {
	margin: 150px 0px 330px;
}
.signup-type {
	width: 1000px;
	text-align: center;
	color: #757575;
}
.signup-type h2 {
	font-weight: 500;
	margin-bottom: 90px;
}
.cus-type, .seller-type {
	display: inline-block;
	margin: 0px 50px;
	width: 300px;
	height: 200px;
	vertical-align: top;
}
.signup-type form {
	border: 1px solid #757575;
	border-radius: 15px;
	overflow: auto;
	height: 200px;
}
.signup-type form div {
	font-size: 20px;
	font-weight: 600;
	color: #757575;
}
.signup-type form:hover div {
	display: none;
}
.signup-type form:hover {
	border-color: #876ed5;
	background-color: #faf9fd;
}
.signup-type form p {
    display: none;
    margin-top: 55px;
}
.signup-type form:hover p {
    display: block;
}
.signup-type form i {
	margin: 50px 0px 20px;
	font-size: 40px;
	color: #757575;
}
.signup-type form:hover i {
	display: none;
}