@charset "utf-8";

.signup-form {
	width: 382px;
	height: 500px;
	text-align: center;
}
.signup-form hr {
	margin: 15px 0px 20px;
	color: #757575;
}
.input-form div {
	height: 40px;
	border: 1px solid #757575;
	border-radius: 15px;
	margin: 10px 0px;
	width: 350px;
	float: left;
	display: inline-block;
	text-align: left;
	padding: 0px 15px;
}
.input-form div:focus-within {
    border-color: #876ed5;
}
.input-form div:focus-within i, .input-form div:focus-within button {
    color: #876ed5;
}
.input-form div i {
	font-size: 18px;
	color: #757575;
}
.input-form div input {
	height: 40px;
	border: none;
	background-color: #fff;
	padding: 0px 10px;
	font-size: 15px;
	width: 245px;
}
.input-form div input:focus {
	outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}
.input-form div button {
	color: #757575;
	background-color: #fff;
	border: none;
}
.input-form div button:hover {
	font-weight: bold;
}
.signup {
	width: 100px;
	height: 40px;
	border: 1px solid #757575;
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
	margin-top: 25px;
	font-size: 15px;
	color: #757575;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	line-height: 40px;
}
.signup:hover {
	border-color: #876ed5;
	color: #876ed5;
	font-weight: bold;
}