@charset "UTF-8";

.bodywrap {
	margin: 200px 0px 250px;
}
.signup_to_num {
	width: 700px;
	border: 1px solid #000;
	border-radius: 15px;
	padding: 50px;
	text-align: center;
}
.signup_to_num h3 {
	margin-bottom: 30px;
}
.select {
	display: inline-block;
	margin: 0px 50px;
	width: 250px;
	height: 250px;
	vertical-align: top;
}
.signup_to_num div a button {
	width: 150px;
	height: 150px;
	border-radius: 15px;
	border: 1px solid #808080;
	color: #808080;
	background-color: #fff;
	font-weight: 600;
}
.signup_to_num div a button:hover {
	background-color: #ddd;
}


