@charset "utf-8";

.bodywrap {
	margin: 200px 0px 250px;
}
.signup-type {
	width: 1000px;
	border: 1px solid #000;
	border-radius: 15px;
	padding: 50px;
	text-align: center;
}
.signup-type h3 {
	margin-bottom: 50px;
}
.cus-type, .seller-type {
	display: inline-block;
	margin: 0px 50px;
	width: 300px;
	height: 200px;
	vertical-align: top;
}
.signup-type form {
	border: 1px solid #000;
	border-radius: 15px;
	overflow: auto;
	height: 200px;
}
.signup-type form div {
	font-size: 20px;
	font-weight: bold;
	line-height: 200px;
}
.signup-type form:hover div {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	line-height: 30px;
}
.signup-type form:hover {
	background-color: #e8e8e8;
}
.signup-type form p, .signup-type form hr {
    display: none;
}
.signup-type form:hover p, .signup-type form:hover hr {
    display: block;
}
.signup-type form hr {
	margin: 10px 0px;
}