@charset "utf-8";

.bodywrap {
	margin: 200px 0px 400px;
}
.bodywrap h3 {
	margin-bottom: 70px;
	text-align: center;
}
.signup-form {
	width: 382px;
}
.input-form {
	text-align: center;
}
.input-form div {
	height: 40px;
	margin: 20px 0px;
	border-radius: 15px;
	border: 1px solid #757575;
	padding: 0px 15px;
	width: 350px;
	text-align: left;
}
.input-form div:focus-within {
    border-color: #876ed5;
}
.input-form div:focus-within i, .input-form div:focus-within button {
    color: #876ed5;
}
.input-form div i {
	font-size: 18px;
	color: #757575; 
}
.input-form div input {
	width: 220px;
	height: 40px;
	background-color: #fff;
	padding: 0px 10px;
	border: none;
	font-size: 15px;  
}
.input-form div input:focus {
	outline: none;
}
.input-form div button {
	color: #757575;
	background-color: #fff;
	border: none;
	float: right;
	line-height: 40px;
	font-size: 15px;
}
.input-form div button:hover {
	color: #876ed5;
	font-weight: 600;
}
.pw-edit {
	width: 120px;
	height: 40px;
	border: 1px solid #757575;
	color: #757575;
	background-color: #fff;
	border-radius: 20px;
	margin-top: 15px;
	font-size: 15px;
}
.pw-edit:hover {
	border-color: #876ed5;
	color: #876ed5;
	font-weight: 600;
}