@charset "utf-8";

.bodywrap {
	margin: 100px 0px;
}
.user-edit-form {
	margin-top: 40px;
	width: 900px;
}
.edit-form {
	width: 840px;
	height: 480px;
}
.input-form {
	width: 720px;
	height: 380px;
	margin: 50px 30px;
	text-align: center;
}
.input-form div {
	height: 35px;
	margin: 20px 0px;
	display: inline-block;
}
.input-form div label {
	font-weight: bold;
	line-height: 35px;
	float: left;
	text-align: center;
	width: 130px;
}
.input-form div input {
	width: 150px;
	height: 35px;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 15px;
	float: left;
	text-align: center;
	font-weight: bold;
	padding: 0px 10px;
}
.seller-number {
	/* display: none; 세션 적용시 변경 필요 */
}
.btn {
	width: 210px !important;
	height: 40px !important;
	text-align: center;
	margin: 35px auto 15px !important;
}
.edit {
	width: 100px !important;
	height: 40px !important;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 15px;
	font-weight: bold;
	font-size: 15px;
	padding: 0px !important;
}
.input-form a {
	width: 100px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 15px;
	font-weight: bold;
	font-size: 15px;
	display: inline-block;
	box-sizing: border-box;
	float: left;
	line-height: 40px;
	margin-right: 10px;
}
.edit:hover, .input-form a:hover {
	background-color: #ddd;
}