<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="booth">


	<select id="detail" parameterType="boothVO" resultType="boothVO">
		select * from booth where booth_no = #{booth_no}
	</select>
	
	
	<select id="product" resultType="boothProductVO">
		select * from booth_product where booth_no = #{booth_no}
	</select>
	
	
	
</mapper>