<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mybooth">
	<!-- 현재 진행중인 축제 / 시작날짜가 가까운게 먼저 전으로 뒤로 -->
	<select id="getAllFestivals" resultType="festivalVO">
		select fstv_no,
		fstv_title from festival where fstv_startdate &lt;= current_date() and
		fstv_enddate &gt;= current_date() order by fstv_startdate desc
	</select>
	<insert id="insertBooth" parameterType="boothVO"
		useGeneratedKeys="true" keyProperty="booth_no">
		INSERT INTO booth (booth_name,
		seller_id,fstv_no, booth_addr, booth_image, booth_tel,
		booth_hours,
		booth_category, booth_introduction)
		VALUES (#{booth_name},
		#{seller_id}, #{fstv_no}, #{booth_addr}, #{booth_image}, #{booth_tel},
		#{booth_hours}, #{booth_category}, #{booth_introduction})
	</insert>

	<insert id="insertBoothProduct" parameterType="boothProductVO">
		INSERT INTO
		booth_product (product, price, booth_no)
		VALUES (#{product}, #{price},
		#{booth_no})
	</insert>
	<select id="showMybooth" parameterType="String"
		resultType="boothVO">
		SELECT b.booth_no, b.booth_image, f.fstv_title,
		b.booth_name, b.booth_category , b.seller_id
		FROM booth b
		JOIN festival
		f ON b.fstv_no = f.fstv_no
		WHERE b.seller_id = #{user_id}
	</select>
	<delete id="deleteBooth" parameterType="int">
		DELETE FROM booth
		WHERE
		booth_no = #{boothNo}
	</delete>

	<select id="getBoothDetailsByNo" parameterType="int"
		resultType="boothVO">
		SELECT f.fstv_title,
		b.booth_no, b.booth_name,b.booth_category,b.booth_image,b.booth_addr, b.booth_tel,
		b.booth_hours, b.booth_introduction
		FROM booth b
		JOIN festival
		f ON b.fstv_no = f.fstv_no
		WHERE booth_no = #{boothNo}
	</select>

	<select id="getboothproduct" parameterType="int"
		resultType="boothProductVO">
		SELECT product, price from booth_product 
		where booth_no = #{boothNo}
	</select>
	
	<update id="updateBooth" parameterType="boothVO">
        UPDATE booth
        SET booth_name = #{booth_name},
            booth_category = #{booth_category},
            booth_image = #{booth_image},
            booth_addr = #{booth_addr},
            booth_tel = #{booth_tel},
            booth_hours = #{booth_hours},
            booth_introduction = #{booth_introduction}
        WHERE booth_no = #{booth_no}
    </update>
    
    <delete id="deleteBoothProduct" parameterType="int">
    	DELETE FROM booth_product
    	WHERE booth_no = #{boothNo}
	</delete>
	
	<insert id="updateBoothProduct" parameterType="map">
    INSERT INTO booth_product (booth_no, product, price)
    VALUES
    <foreach collection="items" item="item" separator=",">
        (#{boothNo}, #{item.product}, #{item.price})
    </foreach>
</insert>
</mapper>